GALAXY_BASE_IMAGE=quay.io/bgruening/galaxy:26.0
GALAXY_IMAGE=local-usegalaxy:latest
GALAXY_CONTAINER_NAME=local-usegalaxy

GALAXY_PORT=8080
GALAXY_FTP_PORT=8021
GALAXY_SSH_PORT=8022

GALAXY_ADMIN_EMAIL=admin@example.org
GALAXY_ADMIN_PASSWORD=password
GALAXY_ADMIN_API_KEY=local-usegalaxy-admin-key
GALAXY_BRAND=Local Galaxy Bioinformatics
